@import '../../variables.css';

.attribute-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 1.5s ease-in;
}

.hover-splash:hover {
  background-color: white;
  transition: all 1s;
}

.small-circle {
  transform: scale(0.3);
  border: 3px solid white;
  transition: all 1.5s ease-in;
}

.selected {
  background-color: white;
}

.hide {
  opacity: 0;
}