@import '../../variables.css';

.attribute-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.attribute-circle:hover {
  background-color: white;
  transition: all 1s;
}

.small-circle {
  transform: scale(0.5);
  border: 3px solid white;
  transition: all 1s;
}