@import '../variables.css';

#main-page {
  background-color: var(--color-main-bg);
}

#upper {
  display: flex;
  background-color: var(--color-main-menu);
}

#center {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
}

#symbol-large {

}

#skill-tree {

}

#node-details {

}

.category-box {
  border: 2px solid var(--color-text);
  border-radius: 10px;
  justify-self: center;
  height: 500px;
  width: 300px;
}

#lower {
  display: flex;
  background-color: var(--color-main-menu);
}

.container {
  height: 600px;
  width: 300px;
}

.centered {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.move-0 {
  top: calc(50% - 250px);
  transition: all 1s;
}

.move-01 {
  left: calc(50% - 150px);
  transition: all 1s;
}

.move-02 {
  left: calc(50% + 50px);
  transition: all 1s;
}