@import '../variables.css';

#main-page {
  background-color: var(--color-main-bg);
}

#upper {
  display: flex;
  background-color: var(--color-main-menu);
}

#center {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: calc(100vw - 17px);
  height: 100vh;
}

#symbol-large {

}

#skill-tree {

}

#node-details {

}

.category-box {
  position: relative;
  border: 2px solid var(--color-text);
  border-radius: 10px;
  justify-self: center;
  height: 500px;
  width: 300px;
}

#lower {
  display: flex;
  background-color: var(--color-main-menu);
}

.container {
  height: 600px;
  width: 300px;
}

.centered {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  transition: all 1.5s ease-in;
  border-radius: 50%;
}

.top {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 50px);
  transition: all 1.5s ease-in;
  border-radius: 50%;
  opacity: 0;
}

.move-0 {
  top: calc(50% - 250px);
  transition: all 1.5s ease-out;
}

.move-1 {
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  opacity: 1;
}

.move-2 {
  top: calc(50% - 50px);
  left: calc(50% + 50px);
  opacity: 1;
}
